.details-descript {
  margin: 10rem auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.details-descript > img {
  width: 40%;
}

.text-details {
  width: 40%
}

.btn-primary {
  width: 100%;
}